.sendCode{
    width: 100%;
    height:100%;

    background-image: url("../../component/images/pexels-felix-mittermeier-956999.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}


.registerCode{
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);


}
.registerCode h6{
    position: absolute;
    top: 80px;
    right: 10px;
    color: #f26f14;
}
.inputCode{
    position: absolute;
    top:30vh;
    right: 0;
}
.inputCode input{
    outline: none;
    border: 1px solid #000000;

    border-radius: 10px;
}
.inputCode input:focus{
    border: #f26f14 solid 1px;
}

.registerCode button{
    position: absolute;
    bottom: 25vh;
    right: 10px;
    width: 18vh;
    height: 8vh;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: #f26f14;
    font-size: 20px;
    padding-bottom:10px ;
}
.registerCode p{
    position: absolute;
    color: #f26f14;
    font-size: 20px;
    bottom: 22vh;
    right: 50%;

}

